header{
    background-color: green;
}

.image-logo{
    width: 27px;
}

.tipe-form{
    height: 100%;
}

.form-style{
    outline: none;
    border: 0;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    padding:  .3em 0 .3em .9em;
}

.btn-form{
    border:0;
    width: 40px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    padding: .3em .5em .3em 0;
    background-color: aliceblue;
    color:beige;
    margin: 0;
    cursor: pointer;
}

.img-perfil{
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.links{
    margin-right: 15px;   
}

.links a {
    color: azure;
    text-decoration: none;
}

.btn-radio{
    background-color: aliceblue;
    border: 1px solid #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}