:root{

}
body{
    padding: 0;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-center{
    height: 100vh;
    width: 100%;
}

.container-content{
    height: 600px;
    width: 1000px;
}

.container-action {
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.content-action{
    height: 100%;
    width: 50%;
    flex-direction: 50%;
}

.content-action input{
    width: 100%;
    border-radius: 20px;
    border: 0;
    background-color: aliceblue;
    height: 45px;
    margin-bottom: 10px;
    padding: 1rem;
}

.content-image{
    height: 100%;
    width: 50%;
}

.content-image img{
    width: 100%;
}

.contenido-link a {
    text-decoration: none;
}


